body {
  display: flex;
  margin: 0;
  overflow: hidden;
}

a {
  color: blue;
}

a:visited {
  color: darkviolet;
}

p {
  font-size: 8px;
}

nav {
  width: 20%;
  height: 100vh;
}

ul {
  height: 100%;
  overflow-y: scroll;
  margin: 0.5em;
}

select {
  width: 100%;
  font-size: 16px;
}

iframe {
  width: 805px;
  margin: 0;
  border: none;
  flex-grow: 1;
}

.app-title {
  font-size: 16px;
  padding: 0;
}

.list-group-item {
  padding: .5em;
  font-size: 8px;
}

.modal-hidden {
  display: none;
}

.modal-shown {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  background-color: white;
  opacity: 1;
}

#show-info {
  text-decoration: none;
}
#resizer {
  resize: horizontal;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  flex-direction: row;
}